version: "3.1"
services:
  api:
    build: api
    restart: always
    ports:
      - 3000:3000
    depends_on:
      - db
    networks:
      - url-shortener
  db:
    build: db
    restart: always
    ports:
      - 6379
    volumes:
      - .data:/data
    networks:
      - url-shortener
networks:
  url-shortener:
